@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Anton&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #faf5f5;
    text-align: center;
}

header {
    /* background-color: #263d36; */
    background-image: url("background.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

main {
    margin: 0 auto;
    padding: 3em 1em;
    max-width: 60em;
    line-height: 1.5;
    color: #302f2f;
    font-family: "Inter Tight";
}

.default {
    /* padding: 0 10px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 1280px; */
}

#logo img,
#details img {
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 1.3em;
    color: #faf5f5;
    /* font-family: "Anton"; */
    font-family: "Inter Tight";
    text-shadow: 4px 3px 5px rgba(0,0,0,0.5);
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 800;
}

p {
    text-align: justify;
    max-width: 60em;
    font-size: 1.2rem;
}

#details h2 {
    margin-bottom: 1.7em;
}

#details-content {
    background-color: #faf5f5;
    padding: 2px 4px;
    text-align: left;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
}

ul {
    list-style: none;
}

li {
    font-size: 1.2rem;
}

a {
    color: #c00;
    text-decoration: none;
}

#details,
#form,
#contact {
    /* padding-top: 1rem; */
    padding-bottom: 2rem;
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#team-name,
#team-email,
#team-phone,
#team-players {
    font-size: 1.2rem;
    padding: 5px;
    font-family: "Inter Tight";
    border: 2px solid #d3d3d3;
}

#team-players {
    width: 13em;
    height: 5em;
}

#form-div {
    padding-top: 1em;
}

#form-div button {
    background-color: #4c4a4e;
    color: #faf5f5;
    border-style: none;
    border-radius: 5px;
    padding: 10px 50px;
    cursor: pointer;
    font-family: "Inter Tight";
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-top: 5px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.24),0 10px 50px 0 rgba(0,0,0,0.19);
    text-shadow: 2px 3px 5px rgba(0,0,0,0.51);
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #4c4a4e;
    padding: 40px 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #faf5f5;
    font-weight: 600;
    -webkit-box-shadow: 6px 6px 22px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 22px -8px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 22px -8px rgba(0,0,0,0.75);

}

#contact-form input {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #797574;
    background-color: #4c4a4e;
}

#contact-form textarea {
    width: 13em;
    height: 6em;
    border-radius: 5px;
    border: 2px solid #797574;
    background-color: #4c4a4e;
}

#contact-form button {
    background-color: #757575;
    color: #faf5f5;
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Inter Tight";
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-top: 5px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.24),0 10px 50px 0 rgba(0,0,0,0.19);
    text-shadow: 2px 3px 5px rgba(0,0,0,0.51);
}